#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

# Eclipse
.project
.classpath
.settings/
bin/
/logs
# IntelliJ
.idea
*.ipr
*.iml
*.iws
storage/*
# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
logs
logs/*
# Plugin directory
/.quarkus/cli/plugins
.app-config
.app/keys/*.pem


