<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <!-- stdout Appender -->
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="(%d{HH:mm:ss})(%F:%L)| %m%n"/>

        </layout>
    </appender>

    <!-- INFO Appender -->
    <appender name="R" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">

            <param name="FileNamePattern" value="./logs/rippleServer.%d{yyyy-MM-dd}.log.gz"/>

        </rollingPolicy>

        <layout class="org.apache.log4j.PatternLayout">

            <param name="ConversionPattern" value="(%d{HH:mm:ss})(%F:%L)| %m%n"/>
        </layout>
    </appender>


    <appender name="ERROR" class="org.apache.log4j.RollingFileAppender">
<!--    <appender name="ERROR" class="africa.jopen.ripple.utils.ApacheColorConsoleAppender">-->
        <param name="File" value="./logs/rippleServerError.log"/>
        <param name="MaxFileSize" value="5000KB"/>
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">

            <param name="ConversionPattern" value="(%d{HH:mm:ss})(%F:%L)| %m%n"/>
<!--            <param name="ConversionPattern" value="\u001B[31m(%d{HH:mm:ss})(%F:%L)| %m%n\u001B[0m"/>-->
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
            <param name="LevelToMatch" value="ERROR"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <!-- Root logger configuration -->
    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="R"/>
        <appender-ref ref="ERROR"/>
    </root>

</log4j:configuration>